@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

.cal {
    
}
.cal .clndr .clndr-controls {
  display: block;
  display: inline-block;
  width: 100%;
  margin-bottom: 3px;
}
.cal .clndr .clndr-controls .clndr-previous-button {
  float: left;
  width: 10%;
  text-align: left;
  cursor: pointer;
  padding-left: 3px;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal .clndr .clndr-controls .clndr-previous-button:hover {
  background-color: #6c0000;
  color: #fff;
}
.cal .clndr .clndr-controls .month {
  float: left;
  width: 80%;
  font-weight: 1.2em;
  text-align: center;
  color:#6c0000;
}
.cal .clndr .clndr-controls .clndr-next-button {
  float: left;
  width: 10%;
  padding-right: 3px;
  text-align: right;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal .clndr .clndr-controls .clndr-next-button:hover {
  background-color: #6c0000;
  color: #fff;
}

.cal .clndr .clndr-holder
{
	display: inline-block;
}

.cal .clndr .clndr-grid {
  text-align: center;
  border: 1px solid #6c0000;
  float:left;
  width: 50%;
}
.cal .clndr .clndr-grid .header-day {
  float: left;
  width: 14.28%;
  height: 25px;
  background: #6c0000;
  color: #fff;
  border: solid 1px #fff;
}

.cal .clndr .clndr-grid .day {
  float: left;
  width: 14.28%;
  height: 25px;
  border: solid 1px #fff;
}
.cal .clndr .clndr-grid .day.event {
  background-color: rgba(50,37,0,0.3);
  color: #000;
  border: solid 1px #fff;
}
.cal .clndr .clndr-grid .day.today {
  background-color: #eee;
  border: solid 1px #6c0000;
}
.cal .clndr .clndr-grid .empty,
.cal .clndr .clndr-grid .adjacent-month {
  float: left;
  width: 14.28%;
  height: 25px;
  background: transparent;
  border: solid 1px #fff;
}

.cal .clndr .clndr-grid .day:hover, .cal2 .clndr .clndr-grid .day.event:hover, .cal2 .clndr .clndr-grid .day.today:hover
{
	border: solid 1px #6c0000;
}


.cal .clndr .clndr-today-button {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.cal .clndr .clndr-today-button:hover {
  background-color: #ddd;
}


/***************** Custom code *******************/
.event-listing
{
	width:50%;
	background: #dedede;
	color: #333;
	float:right;
	padding-left: 3px;
}

.event-listing-title
{
	display:block;
	background: #6c0000;
	color: #fff;
}

.event-item
{
	display:block;	
}

.event-item-date
{
	display:block;	
}

.event-item-name
{
	display:block;
	color: #6c0000;	
}

.event-item-location
{
	display:block;
}


