@CHARSET "ISO-8859-1";

body
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	color: #666666; 	
}

span.label
{
	width:120px;
	text-align:left;
	
	margin-left:2px;
}

iframe
{
	border:solid 1px #999999;
}

